<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bit Meet</title>
    <link rel="stylesheet" href="style.css" />
    <script src="/socket.io/socket.io.js"></script>
    <script
      src="https://kit.fontawesome.com/a409d298d8.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/peerjs@1.4.5/dist/peerjs.min.js"></script>
    <script>
      const ROOM_ID = "<%= roomid %>";
      console.log("This is your room ID", "<%= roomid %>");
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
  <body>
    <header class="navbar">
      <div id="container"></div>

      <i class="fa-brands fa-rocketchat icon"></i>
    </header>
    <div class="main" chat-open>
      <div class="main__left">
        <div class="main__videos">
          <div id="video-grid"></div>
        </div>
      </div>
      <div class="main__right">
        <div class="main__header">
          <h2>Chat</h2>
          <i class="fa-solid fa-xmark icon__close"></i>
        </div>
        <div class="chat__window">
          <ul></ul>
        </div>
        <div class="chat__input">
          <input
            type="text"
            placeholder="Type message and press enter"
            class="input__feild"
          />
        </div>
      </div>

      <div class="main__controls">
        <div class="control__left">
          <div onclick="muteUnmute()" class="control__left__block mute__button">
            <i class="fa-solid fa-microphone"></i>
            <span>Mute</span>
          </div>
          <div onclick="playStop()" class="control__left__block video__button">
            <i class="fa-solid fa-video"></i>
            <span>Stop Video</span>
          </div>
        </div>
        <div class="control__middle">
          <button onclick="copyurl()">Invite a friend</button>
        </div>
        <div class="control__right">
          <span>Leave meeting</span>
        </div>
      </div>
    </div>
  </body>
  <script src="script.js"></script>
  <script>
    document.querySelector(".icon").addEventListener("click", () => {
      document.querySelector(".main").classList.toggle("chat-open");
    });
    document.querySelector(".icon__close").addEventListener("click", () => {
      document.querySelector(".main").classList.toggle("chat-open");
    });
  </script>
</html>
