body {
  background-color: #1c1c1e;
  color: white;
}
/*  */
/* For Nav Bar */
/*  */
.navbar {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #070606;
  position: relative;
}
.icon {
  font-size: 50px;
  position: absolute;
  right: 0;
  margin-right: 3rem;
  cursor: pointer;
}

.main {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}
.main__left {
  display: flex;
  flex: 0.75;
  flex-direction: column;
  justify-content: space-between;
}
/*  */
/* For Chat */
/*  */
.main__right {
  flex: 0.25;
  border: 3px solid white;
  height: 65vh;
  display: none;
  background-color: #042331;
  transition: all 0.4 ease;
  position: relative;
}
.chat-open .main__right {
  display: initial;
  animation-name: animleft;
  animation-duration: 2s;
}
@keyframes animleft {
  0% {
    height: 10vh;
  }
  100% {
    height: 65vh;
  }
}
.main__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 10px;
  border-bottom: 2px solid lightgray;
}
.icon__close {
  font-size: 30px;
  cursor: pointer;
}
.chat__input {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.chat__input > input {
  flex: 0.8;
  margin-left: 20px;
  outline: none;
  height: 2rem;
  border-radius: 8px;
}
ul {
  list-style: none;
}
.chat__input > i {
  flex: 0.2;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
}

/*  */
/* For video Element */
/*  */
#video-grid {
  display: flex;
  justify-content: center;
}
video {
  margin-left: 30px;
  border-radius: 13px;
}
video {
  height: 300px;
  width: 400px;
  object-fit: cover;
}

/*  */
/* For footer controller */
/*  */
.main__controls {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 90px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  background-color: #070606;
  align-items: center;
}

.control__left {
  margin-left: 20px;
  display: flex;
}
.control__left__block {
  display: flex;
  flex-direction: column;
  gap: 6px;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}
.control__left__block > i {
  font-size: 28px;
  cursor: pointer;
}
.control__right {
  margin-right: 20px;
}
.control__right > span {
  color: red;
  letter-spacing: 1px;
  cursor: pointer;
  font-size: 20px;
}
.control__middle > button {
  background-color: green;
  padding: 12px;
  border-radius: 10px;
  letter-spacing: 2px;
  font-size: 15px;
  color: white;
  cursor: pointer;
}
